html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: $color-bg-base;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
