html {
  font-size: $font-size;
  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-medium;
  }
  @media (min-width: $breakpoint-large) {
    font-size: $font-size-large;
  }
}

body, input, textarea {
    color: $color-text;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: $color-text;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
    &:active, &:hover {
        color: $color-active;
    }
}
